.logo {
    display: block;
    margin: auto;
}

body {
    background-image: linear-gradient(rgb(65, 28, 28), rgb(68, 15, 13));
}

.container {
    max-width: 955px;
    background-color: beige;
    margin: auto;
}

